*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:linear-gradient(180deg,#70d8ff,#08657e);
  color:white;
  min-height:100vh;
  text-align:center;
}

.screen{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  padding:40px 20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hidden{
  display:none;
}

h1{
  font-size:42px;
  margin-bottom:18px;
}

h2{
  font-size:26px;
  margin-bottom:24px;
}

input{
  width:90%;
  padding:16px;
  border:none;
  border-radius:18px;
  font-size:20px;
  text-align:center;
  margin:20px 0;
}

button{
  width:90%;
  max-width:360px;
  padding:18px;
  margin:12px auto;
  border:none;
  border-radius:22px;
  background:#ff9800;
  color:white;
  font-size:22px;
  font-weight:bold;
  display:block;
}

.card{
  background:rgba(255,255,255,.18);
  border-radius:24px;
  padding:24px;
  margin:22px 0;
  font-size:22px;
  line-height:1.4;
}