*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:linear-gradient(180deg,#70d8ff,#08657e);
  color:white;
  min-height:100vh;
  text-align:center;
  background-size:cover;
  background-position:center;
}

.screen{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  padding:30px 20px;
}

.hidden{
  display:none;
}

h1{
  font-size:40px;
  margin-bottom:18px;
}

h2{
  font-size:26px;
  margin-bottom:20px;
}

input{
  width:90%;
  padding:16px;
  border:none;
  border-radius:18px;
  font-size:20px;
  text-align:center;
  margin:20px 0;
}

button{
  width:90%;
  max-width:360px;
  padding:18px;
  margin:12px auto;
  border:none;
  border-radius:22px;
  background:#ff9800;
  color:white;
  font-size:21px;
  font-weight:bold;
  display:block;
}

.card{
  background:rgba(0,0,0,.35);
  border-radius:24px;
  padding:22px;
  margin:18px 0;
  font-size:21px;
  line-height:1.4;
  backdrop-filter:blur(6px);
}

#portraitBox{
  margin:16px auto;
}

#portrait{
  width:170px;
  height:170px;
  margin:auto;
  border-radius:24px;
  background:rgba(0,0,0,.35);
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:90px;
  overflow:hidden;
  border:3px solid rgba(255,255,255,.5);
}

#portrait img{
  width:100%;
  height:100%;
  object-fit:cover;
}

#speakerName{
  margin-top:10px;
  font-size:26px;
}